.cart {
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.cart-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 40px;
}
.cart-update {
    background: #FFE0B3;
}